<h1 id="header">{{ title }}</h1>
<div class="wrapper">
  <form id="formular" action="">
    <label for="salutation">Anrede</label>
    <select name="salutation">
      <option value="Frau">Frau</option>
      <option value="Herr">Herr</option>
    </select>
    <label for="name">Vorname</label>
    <input type="text" name="name" />
    <label for="surename">Nachname</label>
    <input type="text" name="surename" />
    <label for="email">E-Mail</label>
    <input type="email" name="email" />
    <label for="age">Alter</label>
    <input type="number" name="age" />
    <button id="speichern" type="submit">Speichern</button>
  </form>
  <div class="list-wrapper">
    <ul id="liste">
      <li>Herr Hans Zimmer, hans.zimmer@xzy.de, 21 Jahre</li>
    </ul>
  </div>
</div>
